<div class="px-2 py-6">
  <div class="bg-white dark:bg-zinc-800 dark:text-white rounded-lg shadow-sm p-6">
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-2xl font-bold">Manage Commands</h1>
      <button class="bg-green-500 hover:bg-green-600 dark:bg-green-600 dark:hover:bg-green-700 text-white px-4 py-2 rounded" id="btn-add-command">
        <i class="fas fa-plus"></i> Add Command
      </button>
    </div>
    <div class="overflow-x-auto max-h-[75vh] text-sm">
      <table class="min-w-full bg-white dark:bg-zinc-800">
        <thead class="sticky top-0 bg-white dark:bg-zinc-800 shadow-sm">
          <tr>
            <th class="px-4 py-2 border-b border-gray-200 dark:border-gray-700 text-left">
              ID
            </th>
            <th class="px-4 py-2 border-b border-gray-200 dark:border-gray-700 text-left">
              Command
            </th>
            <th class="px-4 py-2 border-b border-gray-200 dark:border-gray-700 text-left">
              Response
            </th>
            <th class="px-4 py-2 border-b border-gray-200 dark:border-gray-700 text-left">
              Actions
            </th>
          </tr>
        </thead>
        <tbody id="commandsTableBody">
          <% for( let cmd of commands ) { %>
          <tr>
            <td class="px-4 py-3 border-b border-gray-200 dark:border-gray-700">
              <%= cmd.id %>
            </td>
            <td class="px-4 py-3 border-b border-gray-200 dark:border-gray-700">
              <%= cmd.command %>
            </td>
            <td class="px-4 py-3 border-b border-gray-200 dark:border-gray-700">
              <%= cmd.response %>
            </td>
            <td class="px-4 py-3 border-b border-gray-200 dark:border-gray-700">
              <button class="text-blue-600 mr-2 px-2 py-1 hover:bg-blue-600 hover:text-white rounded-md edit-btn">
                <i class="fas fa-pen-to-square"></i>
              </button>
              <button class="text-red-600 px-2 py-1 hover:bg-red-600 hover:text-white rounded-md delete-btn">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include('components/modals/commands/add-edit-modal') %>
<%- include('components/modals/commands/delete-modal') %>
<script src="/js/command.js"></script>